/* FLEX CONTAINERS */

.flex-row-center-items {
	display: flex;
	align-items: center;
}

.flex-column-center-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

